.screen {
  background-color: #211F1D;
  width: 100%;
  max-heigth: 25%;
  display: inline-block;
  color: white;
  font-size: 30px;
  text-align: right;
  padding-top: 25%;
}

.text {
  margin-right: 5%;
}