.container {
  width:300px;
  height: 380px;
  margin: 50px auto auto auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 25px 35px 67px -18px #211F1D;
  & .buttonsContainer {
    height: 70%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, 20%);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}